<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Todo Item</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form>
        <div class="modal-body">
          <label class="form-label">Todo Title</label>
          <input
            class="form-control mb-2"
            id="modalBody"
            [(ngModel)]="newTodoTitle"
            name="newTodoTitle"
          />

          <label class="form-label">Todo Description</label>
          <textarea
            class="form-control mb-2"
            id="modalBody"
            [(ngModel)]="newTodoDescription"
            name="newTodoDescription"
          ></textarea>

          <label class="form-label">Task Priority</label>
          <select
            class="form-select"
            [(ngModel)]="newTodoPriority"
            name="newTodoPriority"
          >
            <option selected value="2">High Priority</option>
            <option value="1">Medium Priority</option>
            <option value="0">Low Priority</option>
          </select>
        </div>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="addTodoButton"
          data-bs-dismiss="modal"
          (click)="onAddTodoItem()"
        >
          Add Item
        </button>
      </div>
    </div>
  </div>
</div>
